<!DOCTYPE html>
<html lang="EN">

    <head>
        <title>Spillzy</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <script src="{{ url_for('static', filename='js/login.js') }}"></script>
        
    </head>



    <body class="wrapper">

        <div class="container">
            
            <div class="logo">
                <img src = "{{ url_for('static',filename='photos/design/Spillzy-horizontal.png') }}" alt = "Spillzy logo">
            </div>


            <form class="sign-in" id="sign" action="{{ url_for('login') }}" method="post">
                <fieldset>
                    
                    <legend> Initialize </legend>

                    <div id="options">
                        <button type="button" id="webcam">Webcam</button>
                        <button type="button" id="ip">IP Cameras</button>
                    </div>

                    <div id="input">
                    </div>

                    <div id="submit">
                        <input type="submit" value="Enter">
                    </div>

                </fieldset>
            </form>
            

        </div>

    </body>

</html>